.icon-left {
    position: absolute;
    top: 10px;
    left: 10px;
}

.icon-right {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.season-display.winter i {
    color: royalblue;
}

.season-display.summer i {
    color: rgb(230, 98, 98);
}

.season-display {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.winter{
    background-color: lightblue;
}

.summer{
    background-color: rgb(236, 207, 152);
}